{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block main %}
    <h1>Description</h1>
    <p>The site is intended for users who need to shorten long URLs for ease of distribution and track the number of visits to these shortened links.</p>
{% endblock %}