{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>Hello from Symfony</h1>
    <p>For sum number a + b link /sum/{a}/{b}</p>
    <a href="/sum/10/5">10 + 5</a>
    <a href="/categories">Categories</a>
{% endblock %}