{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<a href="/categories/generate">Generate categories</a>
<ul>
    {% for category in categories %}
        <li>
                <a href="/categories/{{ category.id }}">{{ category.id }} - {{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
